.greeting{
	left: 37.5%;
  margin-bottom: 1em;
  margin-top: 1em;
	position: relative;
	text-align: center;
	width: 25%; 
}


#todolist{
	left: 37.5%;
	position: relative;
	width: 25%;
}

.todo{
	background-color: #ffffff;
	border-radius: 5px;
	height: 3em;
	margin: 1em 0 1em 0;
	text-align: center;
}

ul{
	list-style-type: none;
	padding: 0;
}

.todotext{
	height: 50%;
	position: relative;
	top: 25%;
}
