.greeting{
	left: 37.5%;
  margin-bottom: 1em;
  margin-top: 1em;
	position: relative;
	text-align: center;
	width: 25%; 
}

/*
#todolist{
	left: 37.5%;
	position: relative;
	width: 25%;
}
*/

:root{
  --document-width: 100%;
}

.todolist-table{
  position: relative;
  left: 35%;
  

  width: calc(0.35 * var(--document-width));
  
	margin: 1em 0 1em 0;
	text-align: center;
}

.todo-content{
  width: calc(0.3 * var(--document-width));


	background-color: #ffffff;
  padding: 0;
}

.delete-button{
  width: calc(0.05 * var(--document-width));


}

.todo-cell{
}


ul{
	list-style-type: none;
	padding: 0;
}

.todotext{
	height: 50%;
	position: relative;
	top: 25%;
}

#entryfield{
  border-style: hidden;
  border-radius: 5px;
  height: 3em;
  left: 35%;
  position: relative;
  text-align: center;
  width: calc(0.3 * var(--document-width));
}


#addbutton{
  margin: 1em 0 1em 0;
  left: 37.5%;
  height: 3em;
  position: relative;
  width: 25%;
}

.remove-todo{
  width: 30%;
}
