{% extends "base.html"%}

{%block head%}
<link href="../static/list_of_todos.css" rel="stylesheet">
<meta id="csrf-token" content="{{csrf_token()}}">
{%endblock%}

{%block content%}

<h1 class="greeting">
  Hi, {{current_user.username}} 
</h1>

<h1 class="greeting">
  {{date}}
</h1>

<div>
	{%if todos%}
	<ul id="ul-todos">
			{%for todo in todos%}
      <li id="todo-{{todo.id}}">
        <table class="todolist-table">
          <tr>
            <td class=todo-status>
              <input id="status-{{todo.id}}" type="checkbox">
            </td>
            <td class="todo-content">
              <p class="todotext">{{todo.todo}}</p>
            </td>
            <td class="delete-button">
              <input id="remove-{{todo.id}}" class="remove-todo" type="image"
              src="../static/rubbish-bin.svg">
            </td>
          </tr>
        </table>
			</li>
			{%endfor%}
	</ul>
	{%endif%}
</div>

<form method="POST">
  {{form.todo(id="entryfield", placeholder="Write your todo task")}}
  <div id="addbutton">
  {{form.addbutton(src="../static/plus.svg",
                   type="image",
                   alt="Submit")}}
  </div>
</form>

<p id="logout">
	<a href="logout">logout</a>
</p>

<script src="/static/js/addtodo.js"></script>
<script src="/static/js/removetodo.js"></script>


{%endblock%}

